.vscode/
obj/
Temp/
Library/
WebGL/

*.csproj
*.sln

Assets/*
!Assets/*.unity
!Assets/*.meta
!Assets/*.cs
!Assets/Script/
!Assets/Audio/
Assets/Audio/*
!Assets/Audio/*.meta
!Assets/Material/
Assets/Material/*
!Assets/Material/*.meta